HUBOT_IRC_SERVER="chat.freenode.net"
HUBOT_IRC_ROOMS="#roave"
HUBOT_IRC_NICK="RoaveBot"
HUBOT_IRC_PORT="7000"
HUBOT_IRC_USESSL="true"
export HUBOT_IRC_UNFLOOD="true"
export HUBOT_WOLFRAM_APPID=""
export HUBOT_WWO_API_KEY=""
export HUBOT_WWO_API_URL="http://api.worldweatheronline.com/free/v1/tz.ashx"
export HUBOT_WUNDERGROUND_API_KEY=""
